.copy-secret-button, .show-secret-button {
    position: absolute;
    right: 0;
    top: 4px;
    height: 28px;
    width: 28px;
    padding: 0;
}
.copy-secret-button svg, .show-secret-button svg {
    font-size: 28px;
    height: 16px;
    transform: translateY(-2px);
}
