# For a complete list of core environment variables see
# https://docs.silverstripe.org/en/4/getting_started/environment_management/#core-environment-variables

SS_BASE_URL="<base_url>"

# DB credentials
SS_DATABASE_CLASS="MySQLDatabase"
SS_DATABASE_SERVER="localhost"
SS_DATABASE_USERNAME="<db_user>"
SS_DATABASE_PASSWORD="<db_password>"
SS_DATABASE_NAME="<db_name>"

# Email credentials (Amazon SES)
SES_SMTP_USERNAME="<ses_smtp_user>"
SES_SMTP_PASSWORD="<ses_smtp_password>"
ADMIN_EMAIL="<admin_email>"

# Log settings (include filename in path)
LOCAL_LOG_PATH="<local_log_path>"
LOG_LEVEL = "debug"

# Environment settings
SS_ENVIRONMENT_TYPE="<env>"
# Extra environment setting ('dev', 'test', 'acecept', 'live')
APPLICATION_ENVIRONMENT="live"

SS_DEFAULT_ADMIN_USERNAME="<ss_user>"
SS_DEFAULT_ADMIN_PASSWORD="<ss_password>"

APACHE_RUN_USER="apache"

# S3 credentials
AWS_REGION = "<aws_region>"
AWS_BUCKET_NAME = "<aws_bucket>"

AWS_ACCESS_KEY_ID = "<aws_key>"
AWS_SECRET_ACCESS_KEY = "<aws_secret>"

MIGRATION_DB_HOST = "<migration_db_host>"
MIGRATION_DB_USER = "<migration_db_user>"
MIGRATION_DB_PASSWORD = "<migration_db_password>"
MIGRATION_DB_DATABASE = "<migration_db_database>"

CONEXT_URL = "<conext_url>"
CONEXT_CLIENT_ID = "<conext_client_id>"
CONEXT_CLIENT_SECRET = "<conext_client_secret>"

FRONTEND_BASE_URL="<frontend_base_url>"

DOI_SERVER="<doi_server>"
DOI_PREFIX="<doi_prefix>"
DOI_USER="<doi_user>"
DOI_PASSWORD="<doi_password>"

FILE_DOWNLOAD_PRIVATE_KEY="<private_key>"
FILE_DOWNLOAD_IV="<iv>"
FILE_DOWNLOAD_CIPHER="<cipher>"
