$text-color: #000000;
$secondary-text-color: #9B9B9B;
$first-color: #D63231;
$background-color: white;
$button-background-color: #D63231;
$grayed-out-text-color: #9B9B9B;
$disabled-background: white;
$list-border-color: #ECF0F1;
$list-hover-color: #F1FAF3;

// General
$default-margin: 20px;
$default-margin-small: 15px;
$default-vertical-margin: 30px;
$default-line-height: 1.24em;