@import "../sass/theme/constants";
@import "../sass/theme/fonts";
@import "../sass/theme/mixins";
@import "../sass/utils/mixins";
@import "../sass/mediaquery/mediaquery";

form {
    flex: 1 0;
}

#publish-button {
    background: none;
}


#add-publication {
    background: $page-background-gradient;

    .title-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 25px;

        .actions-container {
            display: flex;
            justify-content: flex-end;

            .save-button {
                margin-left: 11px;
            }
        }
    }

    .rejected {
        background: $flame-light !important;
    }

    .form-elements-container {
        display: flex;

        @include media-query-mobile-tablet {
            flex-direction: column;
        }

        .left-pane-container {
            margin-right: 70px;

            @include media-query-mobile-tablet {
                margin-right: 0;
            }

            .repo-item-details {
                @include rounded-background-pointy-upper-left();
                padding: 25px 35px;
                margin-bottom: 20px;

                @include media-query-mobile-tablet {
                    display: flex;
                    justify-content: space-between;
                }

                .section {
                    &:not(:first-child) {
                        margin-top: 17px;

                        @include media-query-mobile-tablet {
                            margin-top: 0;
                        }
                    }

                    .section-title {
                        @include open-sans-bold;
                        font-size: 12px;
                    }

                    .date {
                        @include open-sans;
                        font-size: 14px;
                        max-width: 200px;
                    }

                    .decline-reason-text {
                        @include open-sans;
                        font-size: 14px;
                        max-width: 200px;
                        margin-top: 8px;
                        text-decoration: underline;
                        font-style: italic;
                        color: $majorelle;
                        cursor: pointer;
                    }

                    .person {
                        @include open-sans-italic;
                        font-size: 14px;

                        a {
                            text-decoration: underline;
                            color: $majorelle;
                        }
                    }

                    .status {
                        margin-top: 5px;
                    }
                }
            }

            .save-button {
                margin-top: 20px;
                flex-direction: row;
            }

            #save-publish-button {
                padding: 0;
            }
        }

        .form-sections-container {
            flex: 1 1 auto;

            .form-section-header {
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                margin-bottom: 70px;

                h3 {
                    @include max-number-of-lines(3);
                    padding-right: 30px;
                }

                .progress-bar-wrapper {
                    position: relative;
                    min-width: 130px;
                    min-height: 14px;

                    .surf-progress-bar {
                        position: absolute;
                        left: 0;
                        top: 3px;
                        width: 100%;
                    }
                }

                @include media-query-max(1250px) {
                    flex-direction: column;

                    h3 {
                        padding-right: 0;
                    }

                    .progress-bar-wrapper {
                        margin-top: 5px;
                    }
                }
            }

            .form-section {
                @include rounded-background-pointy-upper-left(white);
                padding: 30px;
                background-color: white;

                &:not(:first-child) {
                    margin-top: 20px;
                }

                &.decline-or-approve {
                    display: flex;
                    min-height: 120px;
                    background-color: $text-color-active;

                    .title {
                        display: flex;
                        flex-grow: 1;
                        color: $background-color;
                        @include nunito-bold;
                        font-size: 25px;

                        .check-holder {
                            background-color: white;
                            width: 33px;
                            height: 33px;
                            color: $text-color-active;
                            border-radius: 5px;
                            font-size: 14px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 20px;
                        }
                    }

                    .inputs {
                        display: flex;
                        flex-direction: column;

                        fieldset {
                            display: flex;
                            align-items: baseline;
                            justify-content: end;
                            gap: 60px;
                        }

                        label {
                            color: white;
                            font-weight: bold;
                        }

                        textarea {
                            background: white;
                            border-radius: 2px 15px 15px;
                            border: 1px solid #E5E5E5;
                            font-family: 'Open Sans', sans-serif;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 14px;
                            vertical-align: center;
                            height: 100px;
                            width: 500px;
                            margin-top: 5px;
                            padding: 12px;
                            outline: none;
                            resize: none;
                            &:focus {
                                border: 1px solid $ocean-green;
                            }
                        }

                        .radio [type="radio"]:checked + label:before {
                            border: 5.04px solid $maximum-yellow;
                        }

                        .button {
                            margin-top: 30px;
                            width: 130px;
                            height: 40px;
                            @include rounded-background-pointy-upper-left();
                            color: white;
                            @include nunito-bold;
                            font-size: 14px;
                            line-height: 19px;
                            background-color: $ocean-green;
                            align-self: end;
                        }

                        .decline-reason-wrapper {
                            display: flex;
                            flex-direction: column;
                            margin-top: 30px;
                        }

                        .option{
                            transform: scale(1.2) translateX(-9px);
                        }

                        .disabled {
                            background: $grayDark;
                        }
                    }
                }
            }
        }
    }

    .status {
        display: flex;
    }
}