/* line 21, ../../../../../../../../Library/Ruby/Gems/2.6.0/gems/susy-2.2.14/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../sass/general/_grid.scss */
.row {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../Library/Ruby/Gems/2.6.0/gems/susy-2.2.14/sass/susy/output/support/_clearfix.scss */
.row:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 14, ../sass/general/_grid.scss */
.row .one {
  width: 7.63359%;
  float: left;
  margin-right: 0.76336%;
}
/* line 17, ../sass/general/_grid.scss */
.row .two {
  width: 16.03053%;
  float: left;
  margin-right: 0.76336%;
}
/* line 20, ../sass/general/_grid.scss */
.row .three {
  width: 24.42748%;
  float: left;
  margin-right: 0.76336%;
}
/* line 23, ../sass/general/_grid.scss */
.row .four {
  width: 32.82443%;
  float: left;
  margin-right: 0.76336%;
}
/* line 26, ../sass/general/_grid.scss */
.row .five {
  width: 41.22137%;
  float: left;
  margin-right: 0.76336%;
}
/* line 29, ../sass/general/_grid.scss */
.row .six {
  width: 49.61832%;
  float: left;
  margin-right: 0.76336%;
}
/* line 32, ../sass/general/_grid.scss */
.row .seven {
  width: 58.01527%;
  float: left;
  margin-right: 0.76336%;
}
/* line 35, ../sass/general/_grid.scss */
.row .eight {
  width: 66.41221%;
  float: left;
  margin-right: 0.76336%;
}
/* line 38, ../sass/general/_grid.scss */
.row .nine {
  width: 74.80916%;
  float: left;
  margin-right: 0.76336%;
}
/* line 41, ../sass/general/_grid.scss */
.row .ten {
  width: 83.20611%;
  float: left;
  margin-right: 0.76336%;
}
/* line 44, ../sass/general/_grid.scss */
.row .eleven {
  width: 91.60305%;
  float: left;
  margin-right: 0.76336%;
}
/* line 47, ../sass/general/_grid.scss */
.row .twelve {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 52, ../sass/general/_grid.scss */
.small-row {
  margin-left: auto;
  margin-right: auto;
  max-width: 770px;
}
/* line 57, ../sass/general/_grid.scss */
.small-row:after {
  content: " ";
  display: block;
  clear: both;
}

@media only screen and (max-width: 1240px) {
  /* line 65, ../sass/general/_grid.scss */
  .row.with-margin {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 810px) {
  /* line 72, ../sass/general/_grid.scss */
  .small-row.with-margin {
    margin-left: 20px;
    margin-right: 20px;
  }
}
/* Tablets */
@media only screen and (max-width: 900px) {
  /* line 81, ../sass/general/_grid.scss */
  .row.with-margin.tablet {
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
}
/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 767px) {
  /* line 91, ../sass/general/_grid.scss */
  .row.with-margin {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
  }
  /* line 96, ../sass/general/_grid.scss */
  .row.with-margin.tablet {
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 570px) {
  /* line 105, ../sass/general/_grid.scss */
  .row.with-margin {
    margin-left: 20px;
    margin-right: 20px;
  }
}
/* Small Screen Mobile */
@media only screen and (max-width: 480px) {
  /* line 113, ../sass/general/_grid.scss */
  .row.with-margin {
    margin-left: 15px;
    margin-right: 15px;
  }
  /* line 117, ../sass/general/_grid.scss */
  .row.with-margin.tablet {
    margin-left: 15px;
    margin-right: 15px;
  }

  /* line 123, ../sass/general/_grid.scss */
  .small-row.with-margin {
    margin-left: 15px;
    margin-right: 15px;
  }
}
/* line 1, ../sass/general/_default.scss */
html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #000000;
}

/* line 9, ../sass/general/_default.scss */
body {
  font-size: 16px;
  line-height: 1.55em;
  background-color: #F6F8F9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 17, ../sass/general/_default.scss */
h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 0;
}

/* line 23, ../sass/general/_default.scss */
h1 {
  font-size: 2.94em;
  line-height: 1.0em;
}

/* line 28, ../sass/general/_default.scss */
h2 {
  font-size: 2em;
  line-height: 1.1em;
}

/* line 33, ../sass/general/_default.scss */
h3 {
  font-size: 1.52em;
  line-height: 1.1em;
}

/* line 38, ../sass/general/_default.scss */
h4 {
  font-size: 1.06em;
  line-height: 1.0em;
}

/* line 43, ../sass/general/_default.scss */
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #000000;
  line-height: 1.5em;
}
/* line 48, ../sass/general/_default.scss */
p.first {
  margin-top: 0;
}
/* line 51, ../sass/general/_default.scss */
p.last {
  margin-bottom: 0;
}

/* line 56, ../sass/general/_default.scss */
input[type=text], input[type=email], input[type=password], input, select, textarea {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  border: 1px solid #E9E9E9;
  font-size: inherit;
  padding: 2px 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 64, ../sass/general/_default.scss */
input[type=text], input[type=email], input[type=password], select {
  height: 48px;
}

/* line 68, ../sass/general/_default.scss */
select {
  outline: none;
}

/* line 72, ../sass/general/_default.scss */
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 78, ../sass/general/_default.scss */
img.alignright {
  display: block;
  margin-left: auto;
}

/* line 83, ../sass/general/_default.scss */
a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
/* line 86, ../sass/general/_default.scss */
a:focus {
  outline: none;
}
/* line 90, ../sass/general/_default.scss */
a:link, a:visited, a:hover, a:active {
  color: #D63231;
  text-decoration: underline;
}

/* line 99, ../sass/general/_default.scss */
b {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-weight: normal;
}

/* Medium Screen/Large Tablets */
/* Tablets */
/* Mobile wide/Smaller Tablets */
@media only screen and (max-width: 768px) {
  /* line 116, ../sass/general/_default.scss */
  h1 {
    font-size: 2.35em;
  }

  /* line 120, ../sass/general/_default.scss */
  h2 {
    font-size: 1.6em;
  }
}
/* Small Screen Mobile */
@media only screen and (max-width: 480px) {
  /* line 127, ../sass/general/_default.scss */
  body {
    font-size: 16px;
  }

  /* line 131, ../sass/general/_default.scss */
  h1 {
    font-size: 1.9em;
  }

  /* line 135, ../sass/general/_default.scss */
  h2 {
    font-size: 1.28em;
  }
}
/* line 2, ../sass/general/_general.scss */
html.disable-scrolling {
  overflow-y: hidden;
}

/* line 6, ../sass/general/_general.scss */
.main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* line 12, ../sass/general/_general.scss */
.page-content-wrapper .error-block {
  background: white;
  padding: 30px 48px;
}
/* line 16, ../sass/general/_general.scss */
.page-content-wrapper .error-block p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* line 22, ../sass/general/_general.scss */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

/* line 27, ../sass/general/_general.scss */
ul.no-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 33, ../sass/general/_general.scss */
a.no-style {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #000000;
}

/* line 38, ../sass/general/_general.scss */
a.button {
  text-decoration: none;
  font-size: 1em;
  line-height: 1em;
  border: none;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  background-color: #D63231;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* line 23, ../sass/general/_mixins.scss */
a.button:hover {
  background-color: #b12423;
}
/* line 27, ../sass/general/_mixins.scss */
a.button:active {
  background-color: #861b1b;
}
/* line 31, ../sass/general/_mixins.scss */
a.button::after {
  position: absolute;
  background-color: white;
  border: #D63231 1px solid;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
}
/* line 41, ../sass/general/_general.scss */
a.button.dark {
  background-color: #000000;
  color: white;
}

/* line 53, ../sass/general/_general.scss */
select::-ms-expand {
  display: none;
}

/* line 57, ../sass/general/_general.scss */
input[readonly] {
  pointer-events: none;
}

/* line 61, ../sass/general/_general.scss */
input {
  border-radius: 0;
}

/* line 120, ../sass/general/_mixins.scss */
.clear-after:after {
  content: "";
  clear: both;
  display: block;
}

/* line 69, ../sass/general/_general.scss */
.clear {
  clear: both;
}

/* line 73, ../sass/general/_general.scss */
.landscape-notice {
  display: none;
}

/* line 77, ../sass/general/_general.scss */
div.link-style {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #D63231;
}

/* line 8, ../sass/shared/_form.scss */
#Form_ContactForm .message.success,
#Form_ContactForm .message.error {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-top: -28px;
  max-width: 390px;
}
/* line 15, ../sass/shared/_form.scss */
#Form_ContactForm .message.error {
  color: #D63231;
}
/* line 19, ../sass/shared/_form.scss */
#Form_ContactForm fieldset {
  background: white;
  border: none;
  padding: 0;
  margin: 0;
}
/* line 25, ../sass/shared/_form.scss */
#Form_ContactForm fieldset .field {
  position: relative;
  margin-top: 20px;
}
/* line 29, ../sass/shared/_form.scss */
#Form_ContactForm fieldset .field:first-of-type {
  margin-top: 0;
}
/* line 33, ../sass/shared/_form.scss */
#Form_ContactForm fieldset .field input,
#Form_ContactForm fieldset .field textarea {
  width: 100%;
}
/* line 37, ../sass/shared/_form.scss */
#Form_ContactForm fieldset .field input:focus,
#Form_ContactForm fieldset .field textarea:focus {
  outline: none !important;
  border: 1px solid #000000;
}
/* line 43, ../sass/shared/_form.scss */
#Form_ContactForm fieldset .field textarea {
  resize: none;
  padding: 15px;
}
/* line 48, ../sass/shared/_form.scss */
#Form_ContactForm fieldset .field .message.required,
#Form_ContactForm fieldset .field .message.validation {
  color: #D63231;
  padding-left: 15px;
}
/* line 56, ../sass/shared/_form.scss */
#Form_ContactForm label.left {
  display: none;
}

/* line 65, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .message.bad,
#MemberLoginForm_LoginForm .message.good,
#LostPasswordForm_lostPasswordForm .message.bad,
#LostPasswordForm_lostPasswordForm .message.good,
#ChangePasswordForm_ChangePasswordForm .message.bad,
#ChangePasswordForm_ChangePasswordForm .message.good {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: white;
  margin-top: 0;
  padding: 30px 48px;
}
/* line 73, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .message.good,
#LostPasswordForm_lostPasswordForm .message.good,
#ChangePasswordForm_ChangePasswordForm .message.good {
  color: #D63231;
}
/* line 77, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .message.bad,
#LostPasswordForm_lostPasswordForm .message.bad,
#ChangePasswordForm_ChangePasswordForm .message.bad {
  color: red;
}
/* line 81, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm fieldset,
#LostPasswordForm_lostPasswordForm fieldset,
#ChangePasswordForm_ChangePasswordForm fieldset {
  background: white;
  border: none;
  padding: 0;
  margin: 0;
}
/* line 88, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .field,
#LostPasswordForm_lostPasswordForm .field,
#ChangePasswordForm_ChangePasswordForm .field {
  width: 100%;
  border-top: #ECF0F1 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 22px 48px;
}
/* line 95, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .field:first-of-type,
#LostPasswordForm_lostPasswordForm .field:first-of-type,
#ChangePasswordForm_ChangePasswordForm .field:first-of-type {
  border-top: none;
}
/* line 99, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .field.required label::after, #MemberLoginForm_LoginForm .field.validation label::after,
#LostPasswordForm_lostPasswordForm .field.required label::after,
#LostPasswordForm_lostPasswordForm .field.validation label::after,
#ChangePasswordForm_ChangePasswordForm .field.required label::after,
#ChangePasswordForm_ChangePasswordForm .field.validation label::after {
  content: "*";
  color: #d0021b;
  padding-left: 5px;
}
/* line 106, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .field label.left,
#LostPasswordForm_lostPasswordForm .field label.left,
#ChangePasswordForm_ChangePasswordForm .field label.left {
  float: left;
  width: calc(25% - 15px);
  margin-right: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}
/* line 115, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .field label.right,
#LostPasswordForm_lostPasswordForm .field label.right,
#ChangePasswordForm_ChangePasswordForm .field label.right {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #9B9B9B;
  padding-top: 15px;
  width: 100%;
  margin-left: calc(25% + 0px);
}
/* line 123, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .field .message.required,
#MemberLoginForm_LoginForm .field .message.validation,
#LostPasswordForm_lostPasswordForm .field .message.required,
#LostPasswordForm_lostPasswordForm .field .message.validation,
#ChangePasswordForm_ChangePasswordForm .field .message.required,
#ChangePasswordForm_ChangePasswordForm .field .message.validation {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: red;
  margin-left: calc(25% + 10px);
  padding-top: 10px;
  font-size: 0.75em;
}
/* line 132, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .field .middleColumn,
#LostPasswordForm_lostPasswordForm .field .middleColumn,
#ChangePasswordForm_ChangePasswordForm .field .middleColumn {
  float: left;
  width: calc(75% - 5px);
  margin-right: 20px;
  margin-right: 0;
}
/* line 136, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .field .middleColumn input,
#LostPasswordForm_lostPasswordForm .field .middleColumn input,
#ChangePasswordForm_ChangePasswordForm .field .middleColumn input {
  height: 42px;
  width: 300px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
/* line 142, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .field .middleColumn select,
#LostPasswordForm_lostPasswordForm .field .middleColumn select,
#ChangePasswordForm_ChangePasswordForm .field .middleColumn select {
  width: 300px;
  height: 42px;
  padding-right: 25px;
  color: #000000;
  border-radius: unset;
  background-color: white;
  background-image: url("../images/select-dropdown-arrow.svg");
  background-repeat: no-repeat;
  background-position: 280px 16px;
}
/* line 154, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .field .middleColumn .phone-field,
#LostPasswordForm_lostPasswordForm .field .middleColumn .phone-field,
#ChangePasswordForm_ChangePasswordForm .field .middleColumn .phone-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* line 157, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .field .middleColumn .phone-field .phone-row:nth-child(1),
#LostPasswordForm_lostPasswordForm .field .middleColumn .phone-field .phone-row:nth-child(1),
#ChangePasswordForm_ChangePasswordForm .field .middleColumn .phone-field .phone-row:nth-child(1) {
  width: 78px;
}
/* line 160, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .field .middleColumn .phone-field .phone-row:nth-child(1) input,
#LostPasswordForm_lostPasswordForm .field .middleColumn .phone-field .phone-row:nth-child(1) input,
#ChangePasswordForm_ChangePasswordForm .field .middleColumn .phone-field .phone-row:nth-child(1) input {
  padding-left: 10px;
  padding-right: 10px;
  width: 70px;
}
/* line 168, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .field .middleColumn .read-only-data,
#LostPasswordForm_lostPasswordForm .field .middleColumn .read-only-data,
#ChangePasswordForm_ChangePasswordForm .field .middleColumn .read-only-data {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
/* line 174, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .field .middleColumn .gps-field .gps-row,
#LostPasswordForm_lostPasswordForm .field .middleColumn .gps-field .gps-row,
#ChangePasswordForm_ChangePasswordForm .field .middleColumn .gps-field .gps-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* line 177, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .field .middleColumn .gps-field .gps-row label,
#LostPasswordForm_lostPasswordForm .field .middleColumn .gps-field .gps-row label,
#ChangePasswordForm_ChangePasswordForm .field .middleColumn .gps-field .gps-row label {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #000000;
  width: 92px;
  padding-right: 15px;
  padding-top: 10px;
}
/* line 189, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .field .middleColumn .gps-field .gps-row:first-child,
#LostPasswordForm_lostPasswordForm .field .middleColumn .gps-field .gps-row:first-child,
#ChangePasswordForm_ChangePasswordForm .field .middleColumn .gps-field .gps-row:first-child {
  margin-bottom: 9px;
}
/* line 195, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .field .middleColumn .grayed-out-text,
#LostPasswordForm_lostPasswordForm .field .middleColumn .grayed-out-text,
#ChangePasswordForm_ChangePasswordForm .field .middleColumn .grayed-out-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #9B9B9B;
}
/* line 200, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .field .middleColumn .fieldgroup-field,
#LostPasswordForm_lostPasswordForm .field .middleColumn .fieldgroup-field,
#ChangePasswordForm_ChangePasswordForm .field .middleColumn .fieldgroup-field {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 207, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .field .form-blocks-divider,
#LostPasswordForm_lostPasswordForm .field .form-blocks-divider,
#ChangePasswordForm_ChangePasswordForm .field .form-blocks-divider {
  width: 100%;
  background-color: white;
  height: 40px;
}
/* line 214, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .btn-toolbar,
#LostPasswordForm_lostPasswordForm .btn-toolbar,
#ChangePasswordForm_ChangePasswordForm .btn-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 30px;
  position: relative;
}
/* line 220, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .btn-toolbar input,
#LostPasswordForm_lostPasswordForm .btn-toolbar input,
#ChangePasswordForm_ChangePasswordForm .btn-toolbar input {
  text-decoration: none;
  font-size: 1em;
  line-height: 1em;
  border: none;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  background-color: #D63231;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
}
/* line 23, ../sass/general/_mixins.scss */
#MemberLoginForm_LoginForm .btn-toolbar input:hover,
#LostPasswordForm_lostPasswordForm .btn-toolbar input:hover,
#ChangePasswordForm_ChangePasswordForm .btn-toolbar input:hover {
  background-color: #b12423;
}
/* line 27, ../sass/general/_mixins.scss */
#MemberLoginForm_LoginForm .btn-toolbar input:active,
#LostPasswordForm_lostPasswordForm .btn-toolbar input:active,
#ChangePasswordForm_ChangePasswordForm .btn-toolbar input:active {
  background-color: #861b1b;
}
/* line 31, ../sass/general/_mixins.scss */
#MemberLoginForm_LoginForm .btn-toolbar input::after,
#LostPasswordForm_lostPasswordForm .btn-toolbar input::after,
#ChangePasswordForm_ChangePasswordForm .btn-toolbar input::after {
  position: absolute;
  background-color: white;
  border: #D63231 1px solid;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
}
/* line 224, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .btn-toolbar input.left,
#LostPasswordForm_lostPasswordForm .btn-toolbar input.left,
#ChangePasswordForm_ChangePasswordForm .btn-toolbar input.left {
  position: absolute;
  left: 0;
  right: unset;
  background-color: #2C3E50;
  color: white;
}
/* line 231, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .btn-toolbar input.left.disabled,
#LostPasswordForm_lostPasswordForm .btn-toolbar input.left.disabled,
#ChangePasswordForm_ChangePasswordForm .btn-toolbar input.left.disabled {
  background-color: white;
}
/* line 237, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .btn-toolbar #ForgotPassword a,
#LostPasswordForm_lostPasswordForm .btn-toolbar #ForgotPassword a,
#ChangePasswordForm_ChangePasswordForm .btn-toolbar #ForgotPassword a {
  color: #9B9B9B;
}
/* line 240, ../sass/shared/_form.scss */
#MemberLoginForm_LoginForm .btn-toolbar #ForgotPassword a:hover,
#LostPasswordForm_lostPasswordForm .btn-toolbar #ForgotPassword a:hover,
#ChangePasswordForm_ChangePasswordForm .btn-toolbar #ForgotPassword a:hover {
  color: #D63231;
}

/* line 247, ../sass/shared/_form.scss */
textarea {
  resize: none;
}

/* line 251, ../sass/shared/_form.scss */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* line 258, ../sass/shared/_form.scss */
input[type=submit] {
  -webkit-appearance: none;
}

/* Change the white to any color ;) */
/* line 263, ../sass/shared/_form.scss */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

/* line 4, ../sass/login.scss */
div.main {
  background-color: #f6f6f6;
  width: 100%;
  min-height: 100%;
}
/* line 9, ../sass/login.scss */
div.main #MemberLoginForm_LoginForm,
div.main #ChangePasswordForm_ChangePasswordForm,
div.main #LostPasswordForm_lostPasswordForm,
div.main #password-sent {
  background-color: white;
  padding: 140px 50px 30px;
}
/* line 16, ../sass/login.scss */
div.main #MemberLoginForm_LoginForm p.message,
div.main #ChangePasswordForm_ChangePasswordForm p.message,
div.main #LostPasswordForm_lostPasswordForm p.message,
div.main #password-sent p.message {
  padding: 0;
}
/* line 20, ../sass/login.scss */
div.main #MemberLoginForm_LoginForm #MemberLoginForm_LoginForm_Remember_Holder,
div.main #ChangePasswordForm_ChangePasswordForm #MemberLoginForm_LoginForm_Remember_Holder,
div.main #LostPasswordForm_lostPasswordForm #MemberLoginForm_LoginForm_Remember_Holder,
div.main #password-sent #MemberLoginForm_LoginForm_Remember_Holder {
  display: none;
}
/* line 24, ../sass/login.scss */
div.main #MemberLoginForm_LoginForm:before,
div.main #ChangePasswordForm_ChangePasswordForm:before,
div.main #LostPasswordForm_lostPasswordForm:before,
div.main #password-sent:before {
  content: "";
  background-image: url("../images/surf_sharekit_logo.jpg");
  position: absolute;
  width: calc(100% - 100px);
  height: 73px;
  max-width: 188px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  top: 30px;
}
/* line 37, ../sass/login.scss */
div.main #MemberLoginForm_LoginForm .field,
div.main #ChangePasswordForm_ChangePasswordForm .field,
div.main #LostPasswordForm_lostPasswordForm .field,
div.main #password-sent .field {
  border: none;
  padding: 15px 0;
}
/* line 42, ../sass/login.scss */
div.main #MemberLoginForm_LoginForm label,
div.main #ChangePasswordForm_ChangePasswordForm label,
div.main #LostPasswordForm_lostPasswordForm label,
div.main #password-sent label {
  float: left;
  width: 100%;
  margin-right: 0;
}
/* line 46, ../sass/login.scss */
div.main #MemberLoginForm_LoginForm .middleColumn,
div.main #ChangePasswordForm_ChangePasswordForm .middleColumn,
div.main #LostPasswordForm_lostPasswordForm .middleColumn,
div.main #password-sent .middleColumn {
  float: left;
  width: 100%;
  margin-right: 0;
}
/* line 49, ../sass/login.scss */
div.main #MemberLoginForm_LoginForm .middleColumn input,
div.main #ChangePasswordForm_ChangePasswordForm .middleColumn input,
div.main #LostPasswordForm_lostPasswordForm .middleColumn input,
div.main #password-sent .middleColumn input {
  width: 100%;
  margin-top: 10px;
}
/* line 55, ../sass/login.scss */
div.main #MemberLoginForm_LoginForm .btn-toolbar,
div.main #ChangePasswordForm_ChangePasswordForm .btn-toolbar,
div.main #LostPasswordForm_lostPasswordForm .btn-toolbar,
div.main #password-sent .btn-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/* line 59, ../sass/login.scss */
div.main #MemberLoginForm_LoginForm .btn-toolbar input,
div.main #ChangePasswordForm_ChangePasswordForm .btn-toolbar input,
div.main #LostPasswordForm_lostPasswordForm .btn-toolbar input,
div.main #password-sent .btn-toolbar input {
  width: 100%;
  white-space: normal;
}
/* line 64, ../sass/login.scss */
div.main #MemberLoginForm_LoginForm .btn-toolbar #ForgotPassword,
div.main #ChangePasswordForm_ChangePasswordForm .btn-toolbar #ForgotPassword,
div.main #LostPasswordForm_lostPasswordForm .btn-toolbar #ForgotPassword,
div.main #password-sent .btn-toolbar #ForgotPassword {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* line 68, ../sass/login.scss */
div.main #MemberLoginForm_LoginForm .btn-toolbar #ForgotPassword a,
div.main #ChangePasswordForm_ChangePasswordForm .btn-toolbar #ForgotPassword a,
div.main #LostPasswordForm_lostPasswordForm .btn-toolbar #ForgotPassword a,
div.main #password-sent .btn-toolbar #ForgotPassword a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  /* line 79, ../sass/login.scss */
  div.main #MemberLoginForm_LoginForm,
  div.main #ChangePasswordForm_ChangePasswordForm,
  div.main #LostPasswordForm_lostPasswordForm,
  div.main #password-sent {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 550px;
  }
  /* line 91, ../sass/login.scss */
  div.main #MemberLoginForm_LoginForm div.Actions:after,
  div.main #ChangePasswordForm_ChangePasswordForm div.Actions:after,
  div.main #LostPasswordForm_lostPasswordForm div.Actions:after,
  div.main #password-sent div.Actions:after {
    content: "";
    clear: both;
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  /* line 103, ../sass/login.scss */
  div.main {
    width: calc(100% - 100px);
    padding: 20px;
  }
  /* line 107, ../sass/login.scss */
  div.main #MemberLoginForm_LoginForm,
  div.main #ChangePasswordForm_ChangePasswordForm,
  div.main #LostPasswordForm_lostPasswordForm,
  div.main #password-sent {
    position: relative;
    width: 100%;
    padding: 160px 30px 20px;
  }
  /* line 115, ../sass/login.scss */
  div.main #MemberLoginForm_LoginForm:before,
  div.main #ChangePasswordForm_ChangePasswordForm:before,
  div.main #LostPasswordForm_lostPasswordForm:before,
  div.main #password-sent:before {
    width: calc(100% - 60px);
    height: 100px;
  }
  /* line 120, ../sass/login.scss */
  div.main #MemberLoginForm_LoginForm div.field,
  div.main #ChangePasswordForm_ChangePasswordForm div.field,
  div.main #LostPasswordForm_lostPasswordForm div.field,
  div.main #password-sent div.field {
    margin-bottom: 20px;
  }
  /* line 124, ../sass/login.scss */
  div.main #MemberLoginForm_LoginForm div.Actions,
  div.main #ChangePasswordForm_ChangePasswordForm div.Actions,
  div.main #LostPasswordForm_lostPasswordForm div.Actions,
  div.main #password-sent div.Actions {
    margin-top: 10px;
  }
}
