<!DOCTYPE html>
<html lang="nl">
    {ORIGINAL_RECEIVER}
    <div style="display: block; margin-bottom: 18px;">
        Je verzoek om {PERSON_NAME} toe te voegen aan groep {GROUP_NAME} is afgekeurd.
        <br>
        Reden of van afkeuring: {REASON_OF_DECLINE}
        <br>
        Klik <a href="{LINK}" target="_blank">hier</a> om het dashboard te gaan.
    </div>
    <hr>
    <div style="display: block; margin-top: 18px;">
        Your request to add {PERSON_NAME} to group {GROUP_NAME} has been declined.
        <br>
        Reason of decline: {REASON_OF_DECLINE}
        <br>
        Click <a href="{LINK}" target="_blank">here</a> to go to the dashboard.
    </div>
</html>