<!DOCTYPE html>
<html lang="nl">
{ORIGINAL_RECEIVER}
<p style="display: block; margin-bottom: 18px; max-width: 800px; width:100%;">
    Het door jou geïnitieerde saneerproces op {TIME} is succesvol afgerond. <br><br>

    Totaal geselecteerde publicaties: {TOTAL_COUNT} <br>
    Succesvol aangepaste publicaties: {SUCCESS_COUNT} <br>
    Niet aangepaste publicaties: {FAIL_COUNT} <br><br>

    Als er publicaties zijn die niet zijn aangepast, kan dit komen omdat je niet de juiste rechten hebt om
    de door jouw geselecteerde actie uit te voeren op deze publicaties of omdat er tijdens het saneerprocess mogelijk iets fout gegaan is.<br><br>

    Klik <a href="{LINK}" target="_blank">hier</a> om het dashboard te gaan.
</p>
<hr>
<p style="display: block; margin-top: 18px; max-width: 800px; width:100%;">
    The remediation process that was initiated by you on {TIME} is completed.<br><br>

    Total selected publications: {TOTAL_COUNT}<br>
    Successfully edited publications: {SUCCESS_COUNT}<br>
    Unedited publications: {FAIL_COUNT}<br>

    Any unedited publications could be the consequence of you not having the rights to perform the selected action
    on these publications or because something went wrong during the remediation process.<br><br>

    Click <a href="{LINK}" target="_blank">here</a> to go to the dashboard.
</p>
</html>