<!DOCTYPE html>
<html lang="nl">
{ORIGINAL_RECEIVER}
<div style="display: block; margin-bottom: 18px;">
    Er is een fout opgetreden in het door jou geïnitieerde saneerproces op {TIME}. <br>
    Alle geselecteerde publicaties zijn niet aangepast. <br><br>

    Klik <a href="{LINK}" target="_blank">hier</a> om het dashboard te gaan.
</div>
<hr>
<div style="display: block; margin-top: 18px;">
    An error occured in the remediation process that was initiated by you on {TIME}. <br>
    All selected publications were left unchanged. <br><br>

    Click <a href="{LINK}" target="_blank">here</a> to go to the dashboard.
</div>
</html>